#layout_viewport {
  &.landing_layout {
    //
  }
}

.centered_content {
  display: flex;
  justify-content: center;
}

.page_content_wrapper {
  &.is- {
    &admin {
      padding-top: 80px;
    }
  }
}