.input_birthdaydate__divider {
  border: none;
  border-bottom: 1px solid #dae0ea;
  margin-bottom: 15px;
  @include size(100%, auto);

  & > input.input_birthdaydate__input {
    width: auto;
    max-width: 50px;
    margin-bottom: 0;
    border-bottom: 0;
  }
  
  & > span.input_birthdaydate__divider {
    border-bottom: 0;
  }
}