section.competition_includes {
  position: relative;
  @include size(100%, 1065px);
  padding-top: 82px;
  background-color: color(w);

  .background_container {
    @include size(100%, calc(1065px - 494px));
    @include pos(a,0,0,auto);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .container {
    z-index: 2;
    position: relative;

    .title {
      @include size(694px, 109px);
      margin: 0 auto;
      & > * { color: color(w); text-align: center; }
    }
  
    .swipe_concours {
      @include size(100%, auto);
    }
  }
  
}