section.social_include {
  padding-top: 87px;
  padding-bottom: 126px;
  background-size: cover;
  background-repeat: no-repeat;


  .title {
    @include size(598px, 108px);
    margin: 0 auto;
    margin-bottom: 68px;
    text-align: center;
    & > * { color: color(w); }
  }

  .social_links a {
    display: inline-block;
    @include size(171px, auto);
    img {
      display: block;
      width: 100%;
    }
  }
}