@font-face {
  font-family: "Museo";
  font-weight: 300;
  src: url("MuseoSans300.otf") format('otf');
}
@font-face {
  font-family: "MuseoBold";
  font-weight: 500;
  src: url("MuseoSans500.otf") format('otf');
}